<div class="container">
  <%= link_to image_tag('兵庫県.png' , size: '185x50'), "/" %>

  <div class="spot-main">
    <%= form_with(model: @spot, local: true) do |f| %>
      <div class="click-upload">
        <%= f.file_field :image, id:"item-image" %>
      </div>
      <div class="new-spots">
        <%= f.text_field :title, placeholder: "タイトルを入れて下さい" %>
      </div>
      <div class="new-spots">
        <%= f.text_area :description, placeholder: "感想を入力して下さい" %>
      </div>
      <div class="spot-btn-contents">
        <%= f.submit "投稿する" ,class:"spot-btn" %>
      </div>
    <% end %>
  </div>
</div>
