<%= render "shared/header" %>
<div class="contents row">
  <% @spots.each do |spot| %>
      <p><%= spot.title %></p>
      <%= image_tag spot.image %>
  <% end %>

  <div class='purchase-btn'>
    <a href="/spots/new">
      <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
    </a>
  </div>
</div>
<%= render "shared/footer" %>