<%= render "shared/header" %>

<div class="main">
  <div class="main-content wrapper">
    <h2 class="page-title">Have a nice trip!</h2>
    <p>体に美味しい自然食を提供する。TRIP HYOGO。地方特化したローカルが情報満載です。
      身近な知らない世界の発見に出かけましょう。
    </p>

    <%# 検索バー %>
    <%= form_with(url: search_spots_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
    <%# 検索バー %>

    <%# カメラ新規投稿 %>
    <div class='purchase-btn'>
      <a href="/spots/new">
        <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
      </a>
      <p>↑投稿する↑</p>
    </div>
    <%# カメラ新規投稿 %>
  </div>


  <%# 画像一覧 %>
  <div class="contents row">
    <div class="grid">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot.id) do %>
            <div class="spot">
              <%= image_tag spot.image, class: "spot-img"%>
              <p><%= spot.title %></p>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>







  <%# 画像投稿 %>
  <div class="main-content wrapper">
    <div class='purchase-btn'>
      <a href="/spots/new">
        <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
      </a>
      <p>↑投稿する↑</p>
    </div>
  </div>
  <%# 画像投稿 %>

</div>
<%= render "shared/footer" %>