<%= render "shared/header" %>

<div class="main">
  <div class="main-content wrapper">
    <h2 class="page-title">Have a nice trip!</h2>
    <p>新たな出会い提供するGO TO HYOGO。地方特化したローカルが情報満載です。
      身近な知らない世界の発見に出かけましょう。
    </p>

    <%# 検索バー %>
    
    <%= search_form_for @p, url: search_spots_path do |f| %>
    <div class = "search-keyword-index">
      <%= f.search_field :description_cont, placeholder:"キーワード" %>
      <%= f.submit '検索' %>
    </div>

    <div class = "search-pulldown-index">
      <%= f.label :city_id_eq, '市：'  %>
      <%= f.collection_select :city_id_eq, City.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>

      <%= f.label :location_id_eq, 'ロケーション：'  %>
      <%= f.collection_select :location_id_eq, Location.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>

      <%= f.label :gerne_id_eq, 'ジャンル：'  %>
      <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
    </div>


      <%= f.label :price, '予算：' %>
      <%= f.radio_button :price_lteq, '',{class:"radio_button-select"} %>
      指定なし
      <%= f.radio_button :price_lteq, '0',{class:"radio_button-select"} %>
      0円
      <%= f.radio_button :price_lteq, '1000',{class:"radio_button-select"} %>
      1000円以下
      <%= f.radio_button :price_lteq, '2500',{class:"radio_button-select"} %>
      2500円以下
      <%= f.radio_button :price_lteq, '5000',{class:"radio_button-select"} %>
      5000円以下
      <%= f.radio_button :price_lteq, '10000',{class:"radio_button-select"} %>
      10000円以下
    <% end  %>
    <%# 検索バー %>

    <%# カメラ新規投稿 %>
    <div class='purchase-btn1'>
      <a href="/spots/new">
        <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
      </a>
      <p>↑投稿する↑</p>
    </div>
    <%# カメラ新規投稿 %>
  


    <%# 画像一覧 %>
    <div class="contents row">
      <div class="grid">
        <% @spots.each do |spot| %>
          <%= link_to spot_path(spot.id) do %>
            <div class="index-spot">
              <%= image_tag spot.image, class: "spot-img"%>
              <p><%= spot.title %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>







    <%# 画像投稿 %>
    <div class="main-content wrapper">
      <div class='purchase-btn2'>
        <a href="/spots/new">
          <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
        </a>
        <p>↑投稿する↑</p>
      </div>
    </div>
    <%# 画像投稿 %>
  </div>
  <%= paginate @spots %>
</div>
<%= render "shared/footer" %>