<%= render "shared/header" %>

<div class="main">
  <div class="main-content wrapper">
    <h2 class="page-title">Have a nice trip!</h2>
    <p>みんなでスケボーを練習する場所を共有しましょう。
    </p>

    <%# 検索バー %>
    <%= search_form_for @p, url: search_spots_path do |f| %>
      <div class = "search-keyword-index">
        <%= f.search_field :description_or_title_cont, placeholder:"キーワード" %>
        <%= f.submit '検索' %>
      </div>
    <% end  %>
    <%# 検索バー %>

    <%# カメラ新規投稿 %>
    <div class='purchase-btn1'>
      <a href="/spots/new">
        <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
      </a>
      <p>↑投稿する↑</p>
    </div>
    <%# カメラ新規投稿 %>
  


    <%# 画像一覧 %>

    <%# <div class="image"> %>
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot.id) do %>
          <div class="card-deck">
            <div class="card" style="width: 18rem;">
              <%= image_tag spot.image, class: 'card-img-top',  width:"100%", height:"240" %>
              <div class="card-body">
                <h5 class="card-title"><%= spot.title %></h5>
                <p class="card-text"><%= link_to spot.user.nickname, user_path(spot.user_id) %></p>
                <p class="card-text"><%= spot.price %>円</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <%# </div> %>

    <%# 画像投稿 %>
    <div class="main-content wrapper">
      <div class='purchase-btn2'>
        <a href="/spots/new">
          <%= image_tag 'camera.png' , size: '120x120' ,class: "purchase-btn-icon" %>
        </a>
        <p>↑投稿する↑</p>
      </div>
    </div>
    <%# 画像投稿 %>
  </div>
  <%= paginate @spots %>
</div>
<%= render "shared/footer" %>