<%= render "shared/header" %>

  <div class="spot-main">
    <%= form_with(model: @spot, local: true, class: "spot-form") do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <h2>投稿画像</h2>
      <div class="click-upload">
        <%= f.file_field :image, id:"spot-image" %>
      </div>

      <div class="new-spots">
        <h2>施設名入力欄</h2>
        <%= f.text_field :title, class:"spots-text", placeholder: "タイトルを入れて下さい" %>
      </div>

      <div class = "spots-price-box">
        <h2>一人当たりの予算</h2>
        <%= f.text_field :price, class:"spots-price", placeholder: "半角数字のみ入力して下さい" %>
      </div>

      <div class = "spots-price-box">
        <h2>住所</h2>
        <%= f.collection_select(:city_id, City.all, :id, :name, {include_blank: '指定なし'}, {class:"select-box", id:"spot-category"}) %>
      </div>

      <div class="new-spots">
        <h2>メモ入力欄</h2>
        <%= f.text_area :description, class:"form-control", placeholder: "感想を入力して下さい" %>
      </div>


      <div class="spot-btn-contents">
        <%= f.submit "投稿する" ,class:"spot-btn" %>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>

