<%= render "shared/header" %>

<div class="main">
  <%= search_form_for @p, url: search_spots_path do |f| %>
    <div class = "search-keyword">
      <%= f.search_field :description_cont, placeholder:"キーワード" %>
      <%= f.submit '検索' %>
    </div>
  <% end %>


  <div class="contents">
    <div class="grid">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot.id) do %>
          <div class="index-spot">
            <%= image_tag spot.image, class: "spot-img"%>
            <p><%= spot.title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>  
</div>

<%= render "shared/footer" %>