<%= render "shared/header" %>

<div class="main">
  <div class="spot-search">

    <%= search_form_for @p, url: search_spots_path do |f| %>
      <%= f.search_field :title_cont %>
      <%= f.submit '検索' %>
    <% end %>
    
    <div class="contents row">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot.id) do %>
          <div class="spot">
            <%= image_tag spot.image, class: "spot-box-img" %>
            <p><%= spot.title %></p>
            <p><%= spot.description %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>