<%= render "shared/header" %>


<div class="main">
  <div class="spot-show">
    <div class='spot-img-content'>
      <%= image_tag @spot.image ,class:"spot-box-img" %>
    </div>

    <% if user_signed_in? %>
      <% if @spot.user_id == current_user.id %>
        <%= link_to '投稿の編集', edit_spot_path, method: :get, class: "spot-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', spot_path, method: :delete, class:'spot-destroy' %>
      <% end %>
    <% end %>
  


    <h1 class="spot-midasi">投稿してくれた観光地の情報</h1>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-spot">投稿者</th>
          <td class="detail-value"><%= link_to @spot.user.nickname, user_path(@spot.user_id) %></td>
        </tr>

        <tr>
          <th class="detail-spot">タイトル</th>
          <td class="detail-value"><%= @spot.title %></td>
        </tr>

        <tr>
          <th class="detail-spot">感想</th>
          <td class="detail-value"><%= @spot.description %></td>
        </tr>

        <tr>
          <th class="detail-spot">場所</th>
          <td class="detail-value"><%= @spot.city.name %></td>
        </tr>

        <tr>
          <th class="detail-spot">ロケーション</th>
          <td class="detail-value"><%= @spot.location.name %></td>
        </tr>

        <tr>
          <th class="detail-spot">ジャンル</th>
          <td class="detail-value"><%= @spot.genre.name %></td>
        </tr>

        <tr>
          <th class="detail-spot">予算、入場料など</th>
          <td class="detail-value"><%= @spot.price %>円</td>
        </tr>
      </tbody>
    </table>

    <%# コメント記入欄 %>
    <div class="container">
      <% if current_user %>
        <%= form_with(model: [@spot, @comment], class:"comment-btn", local: true) do |f| %>
          <%= f.text_area :text, placeholder: "コメントする", class:"comments-text", rows: "2" %>
          <%= f.submit "投稿する", class:"comment-send" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
        </strong>
      <% end %>


      <div class="comments">
        <h4 class = "comment-all">＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# コメント記入欄 %>
  </div>
</div>

<%= render "shared/footer" %>