<%= render "shared/header" %>


<div class="main">
  <p><%= @nickname %>さんの投稿一覧</p>
  <div class="contents">
    <div class="grid">
      <% @spots.each do |spot| %>
        <%= link_to spot_path(spot.id) do %>
          <div class="index-spot">
            <%= image_tag spot.image, class: "spot-img"%>
            <p><%= spot.title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>