<%# 下部広告部分 %>

<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>GO TO HYOGOについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'GO TO HYOGO利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>GO TO HYOGOを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>GO TO HYOGOについて</h2>
      <ul>
        <li><%= link_to 'GO TO HYOGOガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'GO TO HYOGOロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%# <%= link_to image_tag("神戸街並み.jpg", class:"logo-white"), "#" %> 
  <p>© GO TO HYOGO</p>
</div>